
button:hover {
    font-weight: bold;
}

.card p{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
}

.tile_card {
    font-weight: bold;
    color: #04083fc7;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.card{
    border-radius: 10px;
    border: 1px solid #04083fc7;
    box-shadow: 0px 0px 10px 0px #04083fc7;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;  
}

.card img{
    border-radius: 10px;
    border: 1px solid #04083fc7;
    box-shadow: 0px 0px 10px 0px #04083fc7; 
    height: 170px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://th.bing.com/th/id/R.d958cbbda834837187a287d17def0c83?rik=GAwa0bM%2bpf2D7g&pid=ImgRaw&r=0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
}

nav .nav {
    margin-left: -120px; /* Ajusta este valor según tus necesidades */
    margin-right: -120px; /* Ajusta este valor según tus necesidades */
}



.nav a {
    color: #0e5774;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

    .nav a:hover {
        color: #318fb4;
        text-decoration: none;
        font-weight: bold;
    }

.user_center {
    display: none;
}

.container1 {
    display: none;
}

.space-container{
    display:none;
}

footer {
    margin-left: -120px; /* Ajusta este valor según tus necesidades */
    margin-right: -120px; /* Ajusta este valor según tus necesidades */
    align-items: center;
    text-align: center;
    height: 80px;
}

.container2 {
    align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #04083fc7;
    box-shadow: 0px 0px 10px 0px #04083fc7;
    padding: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #04083fc7;
    font-size: 20px;
}

.row .input-group{
    margin-top: 30px;
    margin-bottom: 20px;
}



@media (max-width: 768px) {
    header {
        display: none;
    }

    .container1 {
        display: block;
        text-align: center;
        position: fixed; /* Establece la posición fija */
        bottom: 0; /* Coloca el pie de página en la parte inferior */
        left: 0; /* Coloca el pie de página en la parte izquierda */
        width: 100%; /* Establece el ancho al 100% del viewport */
        background-color: #333; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color del texto según tus preferencias */
        padding: 10px; /* Agrega un espacio de relleno para el pie de página */
        text-align: center; /* Centra el contenido del pie de página */
        z-index: 999; /* Controla la superposición sobre otros elementos */
    }

        .container1 a {
            color: #0e5774;
            font-size: 11px;
        }

            .container1 a:hover {
                color: #0e5774;
                text-decoration: none;
                font-weight: normal;
            }

    .user_center {
        display: flex;
        text-align: center;
        position: fixed; /* Establece la posición fija */
        width: 100%; /* Establece el ancho al 100% del viewport */
        background-color: #eeeded; /* Cambia el color de fondo según tus preferencias */
        color: #fff; /* Cambia el color del texto según tus preferencias */
        text-align: center; /* Centra el contenido del pie de página */
        z-index: 999; /* Controla la superposición sobre otros elementos */
        border-radius: 3px;
        
    }

        .user_center .nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 110%;
            
        }

            .user_center .nav a {
                color: #0e5774;
                font-size: 11px;
            }

                .user_center .nav a:hover {
                    color: #0e5774;
                    text-decoration: none;
                    font-weight: normal;
                }

    .card img{
        height: 140px;
    }
    


    .space-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 100px;
    }
}