<head>
	<link rel="stylesheet" href="~/css/PrincipalRoot.css" asp-append-version="true" />
</head>

<div class="text-center">

	@if (ViewBag.RootHasAccessToProjects)
	{
		<div class="row">
			@foreach (var habitational_project in ViewBag.ProjectLists)
			{
				<div class="card m-2" style="width: 18rem;">
					<img src="../@habitational_project.Logo" class="card-img-top" style="width: 270px; height: 180px">
					<div class="card-body">
						<h5 class="card-title">@habitational_project.Name</h5>
						<p class="card-text-title"><p class="tile_card">Codigo Proyecto</p>@habitational_project.Code</p>
						<p class="card-text"><p class="tile_card">Direccion</p> @habitational_project.Adress</p>
						<p class="card-text">+506 @habitational_project.OfficeTelephone</p>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-outline-primary">Acceder a Proyecto</button>
					</div>
				</div>
			}
		</div>
	}
</div>

